#Section 1

In [2]:
print("This is my second class on AI")

This is my second class on AI

Function in Python

In [6]:
def area_of_square (num):
  return num*num
print("the area is:",area_of_square(6))
print("the area of seond square is:", area_of_square(16))

the area is: 36
the area of seond square is: 256

def area_of_circle(num):
  return num*num
print("the area is:"

List in Python

In [17]:
# Creating a list of fruits
fruits = ["apple", "banana", "Kiwi", "orange", "strewary"]
# Accessing elements
# print(fruits[0]) accessing first elements in the list
# print(fruits[4]) accessing 5th elements in the list.

# adding elements from list
fruits.append("mango")
print(fruits)

# Removing elements from list
fruits.remove("Kiwi")
print(fruits)

['apple', 'banana', 'Kiwi', 'orange', 'strewary', 'mango']
['apple', 'banana', 'orange', 'strewary', 'mango']

#**Tuples in Python**

In [22]:
#**Dictionaries in Python**

In [35]:
# Creating a Dictionary
student={
  "name": "Ram Prasai",
  "age" : 30,
  "Course" : "Computer Science"}
#Accessing alues of a particular key in a dictionary
print(student["age"])
student["age"]=55
print(student["age"])

print(student["address"])
student["address"]="Kathmandu"
print(student["address"])

30
55

KeyError: 'address'

In [37]:
num=int(input("what is the temperature c"))
def todays_temp(num):
  return num*9/5+32
print("the temperature in fahrenhit is:",todays_temp(num))

what is the temperature100
the temperature in fahrenhit is: 212.0

String Manipulation in Python(Tomorrow)

In [39]:
num=int(input("what is the temperature f"))
def todays_temp(num):
  return num(f-32)*5/9
print("the temperature in celcious is:,todays_tem(num))

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-39-3943e57a0c11>, line 4)