#Section 1

In [2]:
print("This is my second class on AI")

This is my second class on AI

Function in Python

In [6]:
def area_of_square (num):
  return num*num
print("the area is:",area_of_square(6))
print("the area of seond square is:", area_of_square(16))

the area is: 36
the area of seond square is: 256

def area_of_circle(num):
  return num*num
print("the area is:"

List in Python

In [17]:
# Creating a list of fruits
fruits = ["apple", "banana", "Kiwi", "orange", "strewary"]
# Accessing elements
# print(fruits[0]) accessing first elements in the list
# print(fruits[4]) accessing 5th elements in the list.

# adding elements from list
fruits.append("mango")
print(fruits)

# Removing elements from list
fruits.remove("Kiwi")
print(fruits)

['apple', 'banana', 'Kiwi', 'orange', 'strewary', 'mango']
['apple', 'banana', 'orange', 'strewary', 'mango']

#**Tuples in Python**

In [22]:
#**Dictionaries in Python**

In [35]:
# Creating a Dictionary
student={
  "name": "Ram Prasai",
  "age" : 30,
  "Course" : "Computer Science"}
#Accessing alues of a particular key in a dictionary
print(student["age"])
student["age"]=55
print(student["age"])

print(student["address"])
student["address"]="Kathmandu"
print(student["address"])

30
55

KeyError: 'address'

In [37]:
num=int(input("what is the temperature c"))
def todays_temp(num):
  return num*9/5+32
print("the temperature in fahrenhit is:",todays_temp(num))

what is the temperature100
the temperature in fahrenhit is: 212.0

String Manipulation in Python(Tomorrow)

In [3]:
num=int(input("what is the temperature f"))
def todays_temp(num):
  return (num-32)*5/9
print("the temperature in celcius is:",todays_temp(num))

what is the temperature f212
the temperature in celcius is: 100.0

In [25]:
Birth year=int(input("what is your birth year"))
def age(birthyear):
  return 2025- birth year
print("your age is :",age(birth year))

what is your birth year2015
your age is : 10

In [5]:
# Interest
principle = float(input("enter the principle Amount (P):"))
rate = float(input("enter the rate of interest(R) in % : "))
time = int(input("enter the period of time (T):"))
def interest(principle, rate,time):
  return (principle* rate* time)/100
print("the interest per year:",interest(principle,rate,time))

enter the principle Amount (P):10000
enter the rate of interest(R) in % : 12
enter the period of time (T):2
the interest per year: 2400.0

In [8]:
#BMI Calculator
weight=float(input("enter your weight in kg:"))
height=float(input("enter your height in m:"))
def bmi(weight,height):
  return weight/(height*height)
print("your bmi is:",bmi(weight,height))

enter your weight in kg:45
enter your height in m:1.5
your bmi is: 20.0

In [10]:
#Currency Converter
amount=float(input("enter amount in local currency"))
result=amount/132
print("amount in USD:",result)

enter amount in local currency10000
amount in USD: 75.75757575757575

In [11]:
import random
print(random.randint(0,9))

8

 #*String* manipulation in Python

In [24]:
# Creating a variable named "text"that contains leading and trailing spaces
text="   Hello Python  "
print(text)

#Lower()is used here to convert original text into lowercase
print(text.lower())

#strip() is used to remove leading and trailing spaces
print(text.strip())

#
print(text.replace("Python","Java"))
# Splitting and joining
#Function Chaining or Method chaining
splitted=text.strip().split
print(splitted)

joined =" ".join(splitted)
print(joined)

   Hello Python
   hello python
Hello Python
   Hello Java
<built-in method split of str object at 0x7bfc597a33f0>

TypeError: can only join an iterable

MODULAR PROGRAMMING IN PYTHON

In [27]:
#importing math module
import math

square_root=math.sqrt(25)
print(int(square_root))

5

In [29]:
floor=math.floor(3.7)
print("The florring of 3.7 is:",floor)

ceiling=math.ceil(3.7)
print("The ceiling of 3.7 is:",ceiling)

The florring of 3.7 is: 3
The ceiling of 3.7 is: 4

##Module alaising

In [32]:
import matplotlib.pyplot as plt
plt.plot([1,2,3],[4,5,6])

Variable Alaising

In [35]:
a=[1,2,3,4]
print(a)
b=a
b.append(5)
print(b)
print(a)

#homework: experiment with function/method aliasing

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Randoms in Python

In [45]:
import random as rdn
print(rdn.randint(0,10))

10

In [46]:
random_float=rdn.random()
print(random_float)

0.20312019093908362

In [47]:
random_float_in_range=rdn.uniform(2.5,10.0)
print(random_float_in_range)

#Homework: Explore More Modules and function/Methods

8.718624188752756

#CREATING CUSTOM MODULES IN PYTHON

In [59]:
#helper.py
%%writefile helperr.py
def add_numbers(a,b):
  return a+b

Writing helperr.py

In [61]:
#main.py
import helperr
result= helperr.add_numbers(3,9)
print("The addition between these numbers is:",result)

The addition between these numbers is: 12

In [80]:
#helper.py
%%writefile helper2.py
def sub_numbers(a,b):
  return a-b
def add_numbers(a,b):
  return a+b
def mul_numbers(a,b):
  return a*b
def dev_numbers(a,b):
  return a/b

Overwriting helper2.py

In [79]:
#main.py
import helper2
result= helper2.sub_numbers(5,10)
result= helper2.add_numbers(5,10)
result= helper2.mul_numbers(5,10)
result= helper2.dev_numbers(5,10)
print("The subctaction between these numbers is:",result)
print("The addition between these numbers is:",result)
print("The multiplication between these numbers is:",result)
print("The division between these numbers is:",result)

AttributeError: module 'helper2' has no attribute 'add_numbers'